body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: gainsboro;
}
button{
 
  height: 5vh;
  width: 10vw;
  border-left: 4vw solid gray;
  border-right: 4vw solid  grey;
  border-bottom: 2vh solid transparent;
  border-top: 2vh solid transparent;

}
input{
  padding-right: 4vw;
  margin-right: 4vw;
}